div.page-title Account Settings
iron-ajax#GetAllNamespacesAjax(auto='[[shouldFetchAllNamespaces(isClusterAdmin)]]', url='/api/workgroup/get-all-namespaces',
    last-response='{{allNamespaces}}', on-error='onAllNamespaceFetchError', handle-as='json')
section#Main-Content
    article.Acct-Info
        h2
            iron-icon.icon(icon='kubeflow:account')
            span.text Account Information
        .content
            .account-row
                .account-identity
                    span [[user]]
                    template(is='dom-if', if='[[isClusterAdmin]]')
                        b(style="color: red;") &nbsp;(Cluster Admin)
                .account-actions
                    paper-button(raised, on-click='togglePasswordForm')
                        | [[passwordToggleLabel(showPasswordForm)]]
            template(is='dom-if', if='[[showPasswordForm]]')
                .password-form-card
                    .password-form-title Change Password
                    md2-input(label='Current Password',
                        value='{{passwordForm.currentPassword}}', type='password')
                    md2-input(label='New Password',
                        value='{{passwordForm.newPassword}}', type='password')
                    md2-input(label='Confirm New Password',
                        value='{{passwordForm.confirmPassword}}', type='password')
                    template(is='dom-if', if='[[passwordFormError]]')
                        .password-form-error [[passwordFormError]]
                    template(is='dom-if', if='[[passwordFormSuccess]]')
                        .password-form-success [[passwordFormSuccess]]
                    .password-form-actions
                        paper-button(on-click='cancelPasswordForm') Cancel
                        paper-button(raised, on-click='submitPasswordChange') Update Password
    article.Namespaces
        h2
            iron-icon.icon(icon='kubeflow:namespace')
            span.text Profile Memberships
        .content.small
            template(is='dom-if', if='[[!hasNamespaces]]')
                span.text You don't have any namespace memberships.
            template(is='dom-if', if='[[hasNamespaces]]')
                vaadin-grid(items='[[namespaceRows(ownedNamespaces, editNamespaces, viewNamespaces)]]', theme="material-grid no-border wrap-cell-content", height-by-rows)
                    vaadin-grid-column(path='roleLabel', header='Your Role')
                    vaadin-grid-column(path='namespace', flex-grow='2', header='Namespace')
                    vaadin-grid-column(flex-grow='0', width='180px')
                        template(class='header') Actions
                        template
                            template(is='dom-if', if='[[item.canDelete]]')
                                paper-button(raised, on-click='handleDeleteNamespace')
                                    | Delete
            .namespace-actions
                paper-button(raised, on-click='toggleNamespaceForm')
                    | [[namespaceToggleLabel(showNamespaceForm)]]
            template(is='dom-if', if='[[showNamespaceForm]]')
                .namespace-form-card
                    .namespace-form-title Add Namespace
                    md2-input(label='Namespace Name',
                        value='{{newProfileName}}')
                    .namespace-form-note
                        | Lowercase letters and '-' only. '-' cannot appear at the start or end.
                    template(is='dom-if', if='[[namespaceFormError]]')
                        .namespace-form-error [[namespaceFormError]]
                    .namespace-form-actions
                        paper-button(on-click='cancelNamespaceForm') Cancel
                        paper-button(raised, on-click='submitNamespaceCreate') Create Namespace
    template(is='dom-if', if='[[isClusterAdmin]]')
        article.Cluster-Namespaces
            h2
                iron-icon.icon(icon='kubeflow:namespace')
                span.text Profiles Overview (Cluster Admin)
            .content.small
                vaadin-grid(items='[[allNamespaces]]', theme="material-grid no-border wrap-cell-content", height-by-rows, multi-sort)
                    vaadin-grid-column(path='0', header='Namespace')
                    vaadin-grid-column(path='1', header='Owner')
                    vaadin-grid-column(path='2', flex-grow='2', header='Contributors')
    template(is='dom-if', if='[[ownedNamespaces.length]]')
        template(is='dom-repeat', items='[[ownedNamespaces]]' as='ownedNamespace')
            article.Contributors
                manage-users-view-contributor(owned-namespace='[[ownedNamespace]]')
                manage-users-view-secret(owned-namespace='[[ownedNamespace]]')
paper-toast#AllNamespaceError(duration=5000)
    | Failed to fetch all namespaces, because:
    strong [[allNamespaceError]]
paper-toast#PasswordFormToast(duration=4000) [[passwordFormToast]]
paper-toast#NamespaceActionToast(duration=5000) [[namespaceActionToast]]
